@use 'partials/index' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: $Font-Family;
}

body {
    @include WH(100vw, 100vh);
    @include Flex;
    background: rgb(228, 228, 228);
}

.container {
    @include WH(350px, 500px);
    @include Flex;
    background: $Absolute-White;
    border-radius: .6em;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.26);
}

.wrapper {
    @include WH(100%, 100%);
    // Up section of wrapper
    .up-section {
        @include WH(100%, 30%);
        @include Flex(flex-end, center, column);
        border-radius: .6em .6em 0 0;
        background: $Primary-Color;
        .display {
            @include WH(100%, 90px);
            @include Flex(space-between, flex-end, column);
            padding: .4em 2em;
            margin-bottom: .4em;
            color: $Absolute-White;
            h2 {
                font-size: 2.5rem;
                font-weight: $Font-Weight-2;
                letter-spacing: $Letter-Spacing-2;
            }
        }
    }
    // Down section of wrapper
    .down-section {
        @include WH(100%, 70%);
        .inner-wrapper {
            @include WH(100%, 100%);
            @include Flex(space-between, center, row);
        }
        .left-part {
            @include WH(50%, 100%);
            @include Grid(repeat(2, 1fr), repeat(5, 1fr));
            grid-gap: .2em;
            justify-items: center;
            align-items: center;
            padding: .5em 0;
        }
        .right-part {
            @include WH(50%, 100%);
            @include Grid(repeat(2, 1fr), repeat(5, 1fr));
            grid-gap: .2em;
            justify-items: center;
            align-items: center;
            padding: .5em 0;
        }
    }
}

// Button Style
.btn {
    @include WH(55px, 55px);
    @include Flex;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.18);
    transition: box-shadow .2s ease-in-out;
    &:hover {
        -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.33);
        box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.33);
    }
}

.mer {
    color: $Absolute-White;
    background: $Mercury;
}

.cream {
    color: $Secondary-Color;
    background: $Soft-Cream;
    font-weight: 500;
}

.prime {
    color: $Absolute-White;
    background: $Primary-Color;
}

#equal {
    @include WH(142.2px, 55px);
    grid-column: 1/3;
    border-radius: 3em;
    color: $Absolute-White;
    background: $Light-Mercury;
}