// Colors
$Primary-Color:#0D1B2A;
$Secondary-Color:#4E4E4E;
$Mercury:#415A77;
$Absolute-White:#fff;
$Soft-Cream:#FFF7D6;
$Light-Mercury:#778DA9;
// Paddings
$Padding-1:4px;
$Padding-2:8px;
$Padding-3:16px;
$Padding-4:32px;
$Padding-5:64px;
// Margins
$Margin-1:4px;
$Margin-2:8px;
$Margin-3:16px;
$Margin-4:32px;
$Margin-5:64px;
// Medias
$Mobile-Min:320px;
$Mobile-Max:480px;
$Mobile-2-Max:640px;
$Tablets-Min:481px;
$Tablets-Max:768px;
$Laptops-Min:769px;
$Laptops-Max:1024px;
$Desktops-Min:1025px;
$Desktops-Max:1200px;
$TV:1201px;
//Typography
$Font-Family:'Open sans';
$Font-Weight-1:300;
$Font-Weight-2:500;
$Font-Weight-3:700;
$Font-Weight-4:900;
$Line-Height-1:.5rem;
$Line-Height-1-5:1rem;
$Line-Height-2:1.8rem;
$Line-Height-3:2.5rem;
$Line-Height-4:2.9rem;
$Letter-Spacing-1:.1rem;
$Letter-Spacing-2:.15rem;
$Letter-Spacing-3:.5rem;